.container {
    padding: 16px;
    background-color: rgb(70, 173, 241);
    margin: auto;
    text-align: left;
}

    input  {
        width: 25%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none; 
    }

    .button {
        box-align: center;
        font-size: 12px;
        position: relative;
        left: 25%;
    }

    .button:hover {
        background-color: #475e48; /* Gray */
        color: white;
    }

    footer {
        background-color: rgba(128, 128, 128, 0.849);
        font-size: 16px;
        color: white;
        height: 100%;
        width: 100%;
        text-align: center;
    }

h2 {
    text-align: center;
}

.byline {
    text-align: center;
}
   

    /* .i {

    } */
